<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- start of list -->
      <ul class="navigation">
        <h1 style=" margin: 12px 0px 4px 36px; font-weight: 700; color: white">Rated.</h1>
        <li class="nav-item">
          <!--search button -->
          <div class="col-lg-10 sizingsearchbar">
            <form id="searchform" role="form" method="get" action="/search">
              <div class="input-group">
                <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
                <span class="input-group-btn">
                  <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>
        </li>
        <li class="nav-item menuItem"><a href="/home">Home</a></li>
        <li class="nav-item menuItem"><a href="/categories">Categories</a></li>
        <li class="nav-item menuItem"><a href="/profile">Profile</a></li>
        <li class="nav-item menuItem"><a href="/submit">Submit</a></li>
        <li class="nav-item menuItem"><a href="/settings">Settings</a></li>
        <li class="nav-item menuItem"><a href="/">Logout</a></li>
        <li class="nav-item menuItem"><a href="#" type="button" data-toggle="modal" data-target="#help">Help</a></li>
      </ul>
      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Help</h4>
            </div>
            <div class="modal-body">
              Rated is a tool for gathering feedback from others. You can submit your own projects to be rated and rate other projects based on their aesthetics, creativity, and navigation.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />

<label for="nav-trigger"></label>