<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- start of list -->
      <ul class="navigation">
        <h1 style=" margin: 12px 0px 4px 36px; font-weight: 700; color: white">Rated.</h1>
        <li class="nav-item">
          <!--search button -->
          <div class="col-lg-10 sizingsearchbar">
            <form id="searchform" role="form" method="get" action="/search">
              <div class="input-group">
                <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
                <span class="input-group-btn">
                  <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>
        </li>
        <li class="nav-item menuItem"><a href="home">Home</a></li>
        <li class="nav-item menuItem"><a href="categories">Categories</a></li>
        <li class="nav-item menuItem"><a href="#">Profile</a></li>
        <li class="nav-item menuItem"><a href="settings">Settings</a></li>
        <li class="nav-item menuItem"><a href="/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />

<label for="nav-trigger"></label>