<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rated</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

</head>
<body>
  <nav class="nav navbar-default">

    <div class="container-fluid">
      <div class="navbar-header">
        <!-- start of list -->
        <ul class="navigation">
          <li class="nav-item">
            <!--search button -->
            <div class="col-lg-10 sizingsearchbar">
              <form id="searchform" role="form" method="get" action="/search">
                <div class="input-group">
                  <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
                  <span class="input-group-btn">
                    <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          </li>
          <li class="nav-item"><a href="home">Home</a></li>
          <li class="nav-item"><a href="#">Categories</a></li>
          <li class="nav-item"><a href="#">Profile</a></li>
          <li class="nav-item"><a href="settings">Settings</a></li>
          <li class="nav-item"><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
  
  <div class="site-wrap">

   <div class=fixedbody>
    <!-- First two rows for trending + images  --> 
    <div class="">
      <div class="row">
        <h4>Trending</h4> 
      </div>

      <!-- First image  --> 
      <div class="row">
        <div class="carousel" id="carousel1">
          {{#each trending}}
          <div class="">
            <a href={{link}}>
              <img src={{imageUrl}} alt="...">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Next two rows for FRESH + images  -->       
    <div class="">
      <div class="row">
        <h4>Fresh</h4> 
      </div>

      <!-- First image of second row  --> 
      <div class="row">
        <div class="carousel" id="carousel2">
          {{#each fresh}}
          <div class="">
            <a href={{link}}>
              <img src={{imageUrl}} alt="...">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</div>


</div>


<!-- Main component for a primary marketing message or call to action -->












<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/home.js"></script>


</body>
</html>