<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rated</title>

  <!-- Fonts -->
 <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

</head>
<body style="font-family: Roboto ; background-color: gray">
  
  {{> menu}}
  <div class="site-wrap">
    <div id="headerBar">
      <h1 id="header">Profile</h1>
    </div>
    
    <img id="profilePic" src="http://media.hotbirthdays.com/upload/2015/07/26/ryan-reynolds.jpg" >
    <div id="info">
      <h3 style="margin-bottom: 4px"><strong>Ryan Reynolds</strong></h3>
      <h3 style="margin-bottom: 4px; font-size: 16px"> 40  </h3>
       <h3 style="margin-bottom: 4px; font-size: 16px"> LA </h3>
      <h3 style="margin-bottom: 0px; font-size: 16px"> Actor </h3>
    
    </div>
    
    <div id="bio">
      <div style="border-bottom: 2px solid black; font-weight: 600"> Bio </div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill
    </div>

    <div id="bio">
      <div style= "border-bottom: 2px solid black; font-weight: 600; margin-bottom: 10px">
        Work
      </div>

      <div class="row">
          <div class="carousel" id="carousel1">
            {{#each trending}}
            {{#with (lookup2 ../projects this)}}
            <div class="">
              <a href="/rate/{{id}}">
                <img class="thumbnail" src={{imageURL}} alt="...">
              </a>
            </div>
            {{/with}}
            {{/each}}
          </div>  
        </div>



    </div>
  </div>
</div>


</div>


<!-- Main component for a primary marketing message or call to action -->












<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="/js/home.js"></script>


</body>
</html>