<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Rated</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body style="font-family:Roboto">
  <nav class="nav navbar-default">

    <div class="container-fluid">
      <div class="navbar-header">
        <!-- start of list -->
        <ul class="navigation">
          <li class="nav-item">
            <!--search button -->
            <div class="col-lg-10 sizingsearchbar">
              <form id="searchform" role="form" method="get" action="/search">
                <div class="input-group">
                  <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
                  <span class="input-group-btn">
                    <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          </li>
          <li class="nav-item"><a href="/home">Home</a></li>
          <li class="nav-item"><a href="#">Categories</a></li>
          <li class="nav-item"><a href="#">Profile</a></li>
          <li class="nav-item"><a href="/settings">Settings</a></li>
          <li class="nav-item"><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>
  
  <div class="site-wrap">

    <div class="">
      <div class="row">
        <h3>{{title}}</h3>
        <h5>By: {{author}}</h5>
        <p>{{description}}</p>

        <div class="embed-responsive embed-responsive-4by3" style="width:80vw; height:50vh;">
          <div class="video-container">    
            <iframe class="embed-responsive-item" src={{projectURL}}></iframe>
          </div>
        </div>
      </div>

      <div class="">
        <div class="row">
          </br>
          <h4 style="font-weight:bold">Rate:</h4> 
        </div>

        <!-- ratings LUL -->
        <!--<h5>Aesthetics</h5>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

        </br></br>
        <h5>Creativity</h5>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>



        </br></br>
        <h5>Navigation</h5>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>

      </div>

      </br></br>-->
      <form id="rating" role="form" method="post" action="">
        <div class="carousel">
          <div id="rating1">
            <h5>Aesthetics</h5>
            <div class="row stars">
              <fieldset id="input-group1">
                <input class="star star-5 star-a" id="star-5a" type="radio" name="star1" value="5"/>
                <label class="star star-5 star-a" for="star-5a"></label>
                <input class="star star-4 star-a" id="star-4a" type="radio" name="star1" value="4"/>
                <label class="star star-4 star-a" for="star-4a"></label>
                <input class="star star-3 star-a" id="star-3a" type="radio" name="star1" value="3"/>
                <label class="star star-3 star-a" for="star-3a"></label>
                <input class="star star-2 star-a" id="star-2a" type="radio" name="star1" value="2"/>
                <label class="star star-2 star-a" for="star-2a"></label>
                <input class="star star-1 star-a" id="star-1a" type="radio" name="star1" value="1"/>
                <label class="star star-1 star-a" for="star-1a"></label>
              </fieldset>
            </div>
          </div>

          <div id="rating2">
            <h5>Creativity</h5>
            <div class="row stars">
              <fieldset id="input-group2">
                <input class="star star-5 star-b" id="star-5b" type="radio" name="star2" value="5"/>
                <label class="star star-5 star-b" for="star-5b"></label>
                <input class="star star-4 star-b" id="star-4b" type="radio" name="star2" value="4"/>
                <label class="star star-4 star-b" for="star-4b"></label>
                <input class="star star-3 star-b" id="star-3b" type="radio" name="star2" value="3"/>
                <label class="star star-3 star-b" for="star-3b"></label>
                <input class="star star-2 star-b" id="star-2b" type="radio" name="star2" value="2"/>
                <label class="star star-2 star-b" for="star-2b"></label>
                <input class="star star-1 star-b" id="star-1b" type="radio" name="star2" value="1"/>
                <label class="star star-1 star-b" for="star-1b"></label>
              </fieldset>
            </div>
          </div>

          <div id="rating3">
            <h5>Navigation</h5>
            <div class="row stars">
              <fieldset id="input-group3">
                <input class="star star-5 star-c" id="star-5c" type="radio" name="star3" value="5"/>
                <label class="star star-5 star-c" for="star-5c"></label>
                <input class="star star-4 star-c" id="star-4c" type="radio" name="star3" value="4"/>
                <label class="star star-4 star-c" for="star-4c"></label>
                <input class="star star-3 star-c" id="star-3c" type="radio" name="star3" value="3"/>
                <label class="star star-3 star-c" for="star-3c"></label>
                <input class="star star-2 star-c" id="star-2c" type="radio" name="star3" value="2"/>
                <label class="star star-2 star-c" for="star-2c"></label>
                <input class="star star-1 star-c" id="star-1c" type="radio" name="star3" value="1"/>
                <label class="star star-1 star-c" for="star-1c"></label>
              </fieldset>
            </div>
          </div>

          <div id="rating4">
            <h5>Comment:</h5>
            <input type="text" class="form-control" name="comment">

            </br>

            <input type="submit" class="btn btn-default" value="Submit"></input>
          </div>
        </div>
      </form>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>
  <script src="/js/rate.js"></script>
</body>
</html>