
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rated</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <!-- Custom styles for this template -->
  <link href="/css/cover.css" rel="stylesheet">

  
</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

     <!--     <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div> -->

          <div class="inner cover">
            <div class="row" id="user_tools">
              <div class="col-xs-2 logout">
                <button type="button" class="btn btn-default" aria-label="Logout">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Logout
                </button>
              </div>
              <div class="col-xs-1 col-xs-offset-6 settings">
                <a title="Settings" href="">
                  <span class="glyphicon glyphicon-cog" style="font-size: 30px" aria-hidden="true"></span>
                </a>
              </div>
              <div class="col-xs-1">
                <a title="Help" href="">
                  <span class="glyphicon glyphicon-question-sign" style="font-size: 30px" aria-hidden="true"></span>
                </a>
              </div>
            </div>
            <div class="tabs">
              <ul class="nav nav-tabs" id="myTabs">
                <li role="presentation" class="active"><a href="home">Home</a></li>
                <li role="presentation"><a href="home#projects">My Projects</a></li>
                <li role="presentation"><a href="home#rate">Rate</a></li>
              </ul> 

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                  <div class="greeting">
                    <img src="http://lorempixel.com/500/500/people" style="width: 50px; float: left"/>
                    <h2>Joe Smith</h2>
                    <a href="#">Change Photo</a>
                  </div>
                  <div class="bio">
                    <h3 style="text-align: left">Bio</h3>
                    <text>Lorem Ipsum</text>
                  </div>
                  <div class="awards">
                    <h3 style="text-align: left">Awards</h3>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="projects">Look at your wonderful projects</div>
                <div role="tabpanel" class="tab-pane" id="rate">Rate me!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
  </html>