<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rated</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <!-- Custom styles for this template -->
  <link href="/css/home.css" rel="stylesheet">

  
</head>

<body style="font-family:Roboto">
  <!-- start of list -->
  <ul class="navigation">
    <li class="nav-item">
      <!--search button -->
      <div class="col-lg-10 sizingsearchbar">
        <form id="searchform" role="form" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
            <span class="input-group-btn">
              <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </li>
    <li class="nav-item"><a href="home">Home</a></li>
    <li class="nav-item"><a href="#">Categories</a></li>
    <li class="nav-item"><a href="#">Profile</a></li>
    <li class="nav-item"><a href="settings">Settings</a></li>
    <li class="nav-item"><a href="/">Logout</a></li>
  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>    

  <div class="site-wrap">
    <div class="tabs">
      <ul class="nav nav-tabs" id="myTabs">
        <li role="presentation" class="active"><a href="home">Home</a></li>
        <li role="presentation"><a href="home#projects">My Projects</a></li>
        <li role="presentation"><a href="home#rate">Rate</a></li>
      </ul> 

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="greeting">
            <img src="http://lorempixel.com/500/500/people" style="width: 50px; float: left"/>
            <h2>Joe Smith</h2>
            <a href="#">Change Photo</a>
          </div>
          <div class="bio">
            <h3 style="text-align: left">Bio</h3>
            <text>Lorem Ipsum</text>
          </div>
          <div class="awards">
            <h3 style="text-align: left">Awards</h3>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="projects">
          <div id="project1" style="padding: 10px">
            <a href="#">
              <h3 style="text-align: left">UX</h3>
              <img src="http://lorempixel.com/500/500/people" style="width: 50px; float: left"/>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <div class="row">Description</div>
            </a>
          </div>
          <div id="project2" style="padding: 10px">
            <a href="#">
              <h3 style="text-align: left">test</h3>
              <img src="http://lorempixel.com/500/500/people" style="width: 50px; float: left"/>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <div class="row">Description</div>
            </a>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="rate">
          <div class="row" style="padding: 15px">
            <text style="font-size: 20px">Sort by </text>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default">Popular</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Popular</a></li>
                <li><a href="#">Top Rated</a></li>
                <li><a href="#">Most Recent</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
  </html>