<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rated</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <!-- Custom styles for this template -->
  <link href="/css/home.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">



  
</head>

<body style="font-family:Roboto">
  <!-- start of list -->
  <ul class="navigation">
    <li class="nav-item">
      <!--search button -->
      <div class="col-lg-10 sizingsearchbar">
        <form id="searchform" role="form" method="get" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" id="query" placeholder="Search for..." name="query">
            <span class="input-group-btn">
              <input type="submit" id="submitBtn" class="btn btn-default" value="Search"></input>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </li>
    <li class="nav-item"><a href="/home">Home</a></li>
    <li class="nav-item"><a href="#">Categories</a></li>
    <li class="nav-item"><a href="#">Profile</a></li>
    <li class="nav-item"><a href="/settings">Settings</a></li>
    <li class="nav-item"><a href="/">Logout</a></li>
  </ul>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"></label>    

  <div class="container site-wrap">
     <div id="headerBar">
    <h1 id="header">Settings</h1>
  </div>
    <div class="checkbox">
      <label for="checkbox1">
        <h5>Notifications</h5>
      </label>
      <input type="checkbox" id="checkbox1" checked data-toggle="toggle">
    </div>

    <div class="row">
      <h5>Username</h5>
    </div>

    <div class="row">
      <h5>Email</h5>
    </div>

    <div class="row">
      <h5>Password</h5>
    </div>



  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-toggle.min.js"></script>
    <script src="/js/home.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
  </html>